/* CORES */
:root {
  --background: #1E2022;
  --background-img: rgba(30, 32, 34, 0.3);
  --background-header: rgba(37, 42, 52, 0.15);
  --cinza: #252A34;
  --cinza-2: #222831;
  --cinza-3: #364F6B;
  --branco: #FFFFFF;
  --vermelho: #FF2E63;
  --azul: #08D9D6;
  --shadow-vermelho: 0px 5px 20px #FF2E63;
  --shadow-azul: 0px -5px 20px #08D9D6;
  --shadow-header: 0px 5px 20px  rgba(0, 0, 0, 0.15);
  --shadow-cinza: 4px 10px 20px rgba(0, 0, 0, 0.1);
}

/* FONTES */
:root {
  --font-titulo: 'Oxygen', sans-serif;
  --font: 'Fira Sans', sans-serif;
}

/* HEADER */
:root {
  --header-height: 90px;
  --header-scroll-height: 70px;
}